@import "../../scss/variables";

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  &__logo {
    width: 65px;
    display: flex;
  }
  &__logo-img {
    margin-right: 15px;
  }
  &__content {
    display: flex;
    padding-left: 60px;
    justify-content: flex-end;
    align-items: center;
  }
  &__content-title {
    color: #181818;
    font-size: 34px;
    margin-right: 200px;
    letter-spacing: 1%;
    text-transform: uppercase;
    font-weight: 800;
  }
  &___content-text {
    display: block;
    color: #040000;
    font-style: 45px;
  }
@media (max-width: 320px) {
  &__content-text {
      display: none;
    }
  }
 }
  
